In [60]:
import pandas as pd
import numpy as np
import sweetviz as sv


data_1_path = 'data_raw/data_1.xlsx'
data_2_path = 'data_raw/data_2.xlsx'
data_3_path = 'data_raw/data_3.xlsx' # Noisy data
parent_path = '/Users/janmaslowski/Desktop/ML_soil/'

Data_raw -> data directory \
data_1 = Improvement of normalized prediction model of soil thermal conductivity\
data_2 = Normalized_concept_for_modelling_effective_soil_thermal_conductivity_from_dryness_to_saturation_TABLE_S4\
data_3 = soil_lambda_wessolek_Using _a_homogeneous_soil_thermal_conductivity_data_base    `NOT FOR TRAINING`

* n - soil porosity
* $\lambda_s$ - thermal conductivity of the skeleton
* sr - degree of saturation - X
* k - thermal conductivity - Y
* Cl - clay content
* Si - silt content
* Sa - sand content
* Gr - gravel content 
* $\rho_d$ - soil density

`1 set of data` :
Cl , Si , Sa , Gr 

`2 set of data`: 
Cl , Si , Sa , Gr , $\rho_d$ , n

`3 set of data`: 
Cl , Si , Sa , Gr , $\rho_d$ , n , $\lambda_s$

In [90]:
xls1 = pd.ExcelFile(parent_path + data_1_path)
xls2 = pd.ExcelFile(parent_path + data_2_path)

df1 = xls1.parse(xls1.sheet_names[0])
df1.drop(0, inplace=True)
df2 = xls2.parse(xls2.sheet_names[0])
max_no = df1['id'].max()
df2['id'] = df2['id'] + max_no
merged_df = pd.merge(df1, df2, how='outer')
classes = merged_df['id'].unique()
merged_df.drop("soil_type", axis=1,inplace=True)


merged_df.to_csv("../data_processed/data_1_2.csv")
df1.to_csv("../data_processed/data_small.csv")
merged_df

,id,n,ro_d,sr,k_sat,k_dry,k,qr,cl,si,sa,gr,lam_s,organic_matter,ro_s,theta_w
0,1.0,0.5100,1.32,0.00000,1.2,0.21,0.21000,0.21,0.418,0.582,0.0,NaN,NaN,NaN,NaN,NaN
1,1.0,0.5100,1.32,0.10000,1.2,0.21,0.28000,0.21,0.418,0.582,0.0,NaN,NaN,NaN,NaN,NaN
2,1.0,0.5100,1.32,0.25000,1.2,0.21,0.41000,0.21,0.418,0.582,0.0,NaN,NaN,NaN,NaN,NaN
3,1.0,0.5100,1.32,0.50000,1.2,0.21,0.71000,0.21,0.418,0.582,0.0,NaN,NaN,NaN,NaN,NaN
4,1.0,0.5100,1.32,0.75000,1.2,0.21,0.88000,0.21,0.418,0.582,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952,151.0,0.3962,1.6,0.19636,NaN,NaN,1.89301,1.00,0.000,0.000,1.0,NaN,NaN,0.0,2.65,0.0778
953,151.0,0.3962,1.6,0.39273,NaN,NaN,2.31063,1.00,0.000,0.000,1.0,NaN,NaN,0.0,2.65,0.1556
954,151.0,0.3962,1.6,0.58909,NaN,NaN,2.57822,1.00,0.000,0.000,1.0,NaN,NaN,0.0,2.65,0.2334
955,151.0,0.3962,1.6,0.78545,NaN,NaN,2.71193,1.00,0.000,0.000,1.0,NaN,NaN,0.0,2.65,0.3112
956,151.0,0.3962,1.6,0.98182,NaN,NaN,2.85607,1.00,0.000,0.000,1.0,NaN,NaN,0.0,2.65,0.3890

data_1_2.csv -> larger dataset with probably larger noise becouse of samples with calculated sr\
data_small.csv -> smaller dataset where we can be sure of quality of data